{
  "SECRET_KEY": "INSECURE",
  "DB_ENGINE": "django.db.backends.sqlite3",
  "DB_NAME": "ma.db",
  "DB_USER": "",
  "DB_PASSWORD": "",
  "DB_HOST": "",
  "DB_OPTIONS": {},
  "EMAIL_DEV": "",
  "EMAIL_TEAM": "",
  "GOOGLE_SITE_VERIFICATION_CODE": ""
}
