*.pyc
*.pyo
*.db
__pycache__
.coverage
*.egg-info/
*.egg/
dist
docs/_build/
.env.json
static/less/*.css
public/media/*
!public/media/.gitkeep
public/static/*
!public/static/.gitkeep
public/*.txt
!public/robots.txt
bower_components/
node_modules/
_build/
npm-debug.log
ma/static/build_dev/*
!ma/static/build_dev/.gitkeep
