{% load i18n %}

{% if meta %}
	{% get_current_language as LANGUAGE_CODE %}

	<meta name="dcterms.language" content="{{ LANGUAGE_CODE }}" />
	{% if meta.title %}<meta name="dcterms.title" content="{{ meta.title }}" />{% endif %}
	{% if meta.description %}<meta name="dcterms.description" content="{{ meta.description }}" />{% endif %}
	
	{% if meta.description %}<meta name="description" content="{{ meta.description }}" />{% endif %}
	{% if meta.keywords %}<meta name="keywords" content="{% for k in meta.keywords %}{{ k }}{% if not forloop.last %}, {% endif %}{% endfor %}" />{% endif %}
{% endif %}
